@import '../../../../List/components/ListItem/Index.scss';
.quality{
  font-size: 12px;
  span{
    color: #79909B;
    font-size: 14px;
  }
}
.signal{
  display: flex;
  align-items: baseline;
  margin-left: 8px;
  span{
    display: inline-block;
    margin-right:2px;
    width: 2px;
    background: #E0E0E0;
    &:nth-child(1){
      height: 4px;
    }
    &:nth-child(2){
      height: 6px;
    }
    &:nth-child(3){
      height: 8px;
    }
    &:nth-child(4){
      height: 10px;
    }
    &:nth-child(5){
      height: 12px;
    }
  }
}
