.add{
  height: 100%;
  background: #3A3B5E;
  padding:0 5%;
  .am-list-body{
    background: #3A3B5E;
  }
}
.price{
  display: flex;
  div{
    .am-list-item{
      padding-left: 0;
      .am-list-line{
        .am-list-extra{
          flex-basis: 100%;
          width:41px;
          text-align: center;
        }
        .am-list-item.am-input-item{
          width: 100%;
        }
      }
    }
  }
}

