.import{
  height:100%;
  background: url('../imgs/bg.jpg');
  background-size: 100%  100%;
  .bg{
    height:100%;
    padding:0 3%;
    background: rgba(0,0,0,.7);
    .success_btn{
      background: green;
      color: #fff;
    }
  }
}
